<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <style>
      html,
      body {
        font-size: 14px;
        height: 100vh;
      }

      input,
      select,
      textarea,
      button {
        font-size: 0.85rem;
        padding: 0.3em 0.6em;
        min-height: 1.5em;
        border-radius: 0.25em;
      }
      main.container {
        height: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>
          <h1>Document API Guide</h1>
          
        </header>

        <section class="grid">
          <details role="button" class="primary" open>
            <summary><h3>Norway Flat Files</h3></summary>
            <article>
              <h3>Norway Flat Files</h3>
              <form
                id="norwayFlatFilesForm"
                hx-get=""
                hx-target="#document-viewer"
                hx-swap="innerHTML"
                hx-trigger="submit"
              >
                <fieldset class="container-fluid">
                  <div>
                    <input
                      name="sourceID"
                      placeholder="azure_norway"
                      aria-label="sourceID"
                      aria-label="Text"
                    />
                    <input
                      type="text"
                      name="repoID"
                      placeholder="default"
                      aria-label="repoID"
                      value="dev"
                    />
                  </div>

                  <div role="group">
                    <input
                      type="text"
                      name="stream"
                      id="stream"
                      placeholder="AR"
                      value="AR"
                    />
                    <input
                      type="text"
                      name="pre-system"
                      id="pre-system"
                      placeholder="DDS"
                      value="DDS"
                    />
                    <input
                      type="text"
                      name="year"
                      id="year"
                      placeholder="2025"
                      value="2025"
                    />
                    <input
                      type="text"
                      name="month"
                      id="month"
                      placeholder="July"
                      value="July"
                    />
                  </div>
                  <input
                    type="text"
                    name="docID"
                    id="docID"
                    placeholder="docID"
                    value=""
                  />
                  <input type="submit" value="View" />
                </fieldset>
              </form>
            </article>
          </details>

          <details  open>
            <summary><h3>Generic</h3></summary>
            <article>
              <h3>Generic</h3>
              <form
                id="generic"
                hx-get=""
                hx-target="#document-viewer"
                hx-swap="innerHTML"
                hx-trigger="submit"
              >
                <fieldset class="grid">
                  <input
                    name="sourceID"
                    placeholder="azure_norway"
                    aria-label="sourceID"
                    value="azure_norway"
                  />
                  <input
                    type="text"
                    name="repoID"
                    placeholder="default"
                    aria-label="repoID"
                    value="dev"
                  />
                  <input
                    type="text"
                    name="docID"
                    placeholder="default"
                    aria-label="docID"
                    required
                  />
                  <input type="submit" value="View" />
                </fieldset>
              </form>
            </article>
          </details>
        </section>
      </article>
      <article>
        <header
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h3>View Document</h3>
        </header>
        <div id="link-copy"></div>
        <div id="document-viewer" style="overflow: scroll"></div>
      </article>
    </main>
  </body>

  <script>
    function restUrl(form) {
      const source = form.querySelector("[name='sourceID']").value || "default";
      const repo = form.querySelector("[name='repoID']").value || "default";
      const doc = form.querySelector("[name='docID']").value || "default";
      if (form.id === "norwayFlatFilesForm") {
        const stream = form.querySelector("[name='stream']").value || "default";
        const preSystem =
          form.querySelector("[name='pre-system']").value || "default";
        const year = form.querySelector("[name='year']").value || "default";
        const month = form.querySelector("[name='month']").value || "default";
        let finalDocID = `${stream}/${preSystem}/${year}/${month}/${doc}`;
        return `/v1/document/sources/${encodeURIComponent(
          source
        )}/repositories/${encodeURIComponent(
          repo
        )}/documents/${encodeURIComponent(finalDocID)}`;
      }

      return `/v1/document/sources/${encodeURIComponent(
        source
      )}/repositories/${encodeURIComponent(
        repo
      )}/documents/${encodeURIComponent(doc)}`;
    }
    // Attach event listeners
    document.querySelectorAll("form").forEach((form) => {
      /* form.addEventListener("htmx:configRequest", (evt) => {
        const url = restUrl(form);
        evt.detail.path = url;
      }); */
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const url = restUrl(form); // build your REST-style URL from inputs
        viewer = document.getElementById("document-viewer");
        viewer.innerHTML = `<a href="${url}" download class="contrast" role="button">Download</a><br>
        <iframe src="${url}" width="2000px" height="600px"></iframe>`
        
        // link = document.getElementById("link-copy");
        // const fullUrl = new URL(url, window.location.origin);
        // link.innerHTML = `<small class="small">${fullUrl}</small><br>`; // Show loading state
      });
    });
  </script>
</html>
