<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />

    <style>
      html,
      body {
        font-size: 14px;
        height: 100vh;
      }

      input,
      select,
      textarea,
      button {
        font-size: 0.85rem;
        padding: 0.3em 0.6em;
        min-height: 1.5em;
        border-radius: 0.25em;
      }
      main.container {
        height: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
  <main class="container">
    <article>
      <header>
        <h1>Document API Guide</h1>
      </header>

      <section class="grid">
        <!-- Norway Flat Files Form -->
        <article>
          <h3>Norway Flat Files</h3>
          <form
            id="norwayFlatFilesForm"
            hx-get=""
            hx-target="#document-viewer"
            hx-swap="innerHTML"
            hx-trigger="submit"
          >
            <fieldset>
              <legend>Document Info</legend>
              <div class="grid">
                <input
                  name="sourceID"
                  placeholder="azure_norway"
                  aria-label="Source ID"
                />
                <input
                  type="text"
                  name="repoID"
                  placeholder="Repository"
                  aria-label="Repo ID"
                  value="dev"
                />
                <input
                  type="text"
                  name="docID"
                  placeholder="Document ID"
                  aria-label="Document ID"
                />
              </div>
            </fieldset>

            <fieldset>
              <legend>Document Path</legend>
              <div class="grid">
                <input
                  type="text"
                  name="stream"
                  placeholder="Stream"
                  value="AR"
                  aria-label="Stream"
                />
                <input
                  type="text"
                  name="pre-system"
                  placeholder="Pre-System"
                  value="DDS"
                  aria-label="Pre System"
                />
                <input
                  type="text"
                  name="year"
                  placeholder="Year"
                  value="2025"
                  aria-label="Year"
                />
                <input
                  type="text"
                  name="month"
                  placeholder="Month"
                  value="July"
                  aria-label="Month"
                />
              </div>
            </fieldset>

            <button type="submit">View</button>
          </form>
        </article>

        <!-- Generic Form -->
        <article>
          <h3>Generic</h3>
          <form
            id="generic"
            hx-get=""
            hx-target="#document-viewer"
            hx-swap="innerHTML"
            hx-trigger="submit"
          >
            <fieldset>
              <legend>Document Info</legend>
              <div class="grid">
                <input
                  name="sourceID"
                  placeholder="Source ID"
                  aria-label="Source ID"
                  value="azure_norway"
                />
                <input
                  type="text"
                  name="repoID"
                  placeholder="Repository"
                  aria-label="Repo ID"
                  value="dev"
                />
                <input
                  type="text"
                  name="docID"
                  placeholder="Document ID"
                  aria-label="Document ID"
                  required
                />
              </div>
            </fieldset>
            <button type="submit">View</button>
          </form>
        </article>
      </section>
    </article>

    <!-- Viewer -->
    <article>
      <header
        style="display: flex; justify-content: space-between; align-items: center"
      >
        <h3>View Document</h3>
      </header>
      <div id="link-copy"></div>
      <div id="document-viewer" style="overflow: auto"></div>
    </article>
  </main>
</body>


  <script>
    function restUrl(form) {
      const source = form.querySelector("[name='sourceID']").value || "default";
      const repo = form.querySelector("[name='repoID']").value || "default";
      const doc = form.querySelector("[name='docID']").value || "default";
      if (form.id === "norwayFlatFilesForm") {
        const stream = form.querySelector("[name='stream']").value || "default";
        const preSystem =
          form.querySelector("[name='pre-system']").value || "default";
        const year = form.querySelector("[name='year']").value || "default";
        const month = form.querySelector("[name='month']").value || "default";
        let finalDocID = `${stream}/${preSystem}/${year}/${month}/${doc}`;
        return `/v1/document_management_srv/sources/${encodeURIComponent(
          source
        )}/repositories/${encodeURIComponent(
          repo
        )}/documents/${encodeURIComponent(finalDocID)}`;
      }

      return `/v1/document_management_srv/sources/${encodeURIComponent(
        source
      )}/repositories/${encodeURIComponent(
        repo
      )}/documents/${encodeURIComponent(doc)}`;
    }
    // Attach event listeners
    document.querySelectorAll("form").forEach((form) => {
      /* form.addEventListener("htmx:configRequest", (evt) => {
        const url = restUrl(form);
        evt.detail.path = url;
      }); */
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const url = restUrl(form); // build your REST-style URL from inputs
        viewer = document.getElementById("document-viewer");
        viewer.innerHTML = `<a href="${url}" download class="contrast" role="button">Download</a><br>
        <iframe src="${url}" width="2000px" height="600px"></iframe>`
        
        // link = document.getElementById("link-copy");
        // const fullUrl = new URL(url, window.location.origin);
        // link.innerHTML = `<small class="small">${fullUrl}</small><br>`; // Show loading state
      });
    });
  </script>
</html>
